@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital@0;1&display=swap');

/* Base */
:root {
  --clr-primary: #f7862f;
  --clr-secondary: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", "Cabin", "sans-serif";
  color:#fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000 !important;
  color: var(--clr-secondary);
  overflow-x: hidden;
}

.section {
  width: 100%;
  padding: 40px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0 30px;
}

.primary {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.secondary {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tertiary {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  padding: 14px 20px;
  background: var(--clr-primary);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  margin: 20px 0;
}

.text a:hover {
  color: #000;
} 

/* End Base */

/* Menu */
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ec7938;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.22);
  z-index: 22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}



.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.logo img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}


nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  font-size: 18px;
  padding: 7px 13px;
  text-decoration: none;
  color: var(--clr-secondary);
}

.menu a.active,
.menu a:hover {
  border-bottom: 2px solid var(--clr-primary);
  transition: 0.3s;
  color: #000;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* End Menu */

/* Hero Section */
#hero-section {
  background: #000;
  margin-top: 60px;
}

.text,
.visual {
  width: 50%;
}

.text {
  margin: 0 20px;
}

.visual img {
  width: 80%;
  height: auto;
  display: block;
}

#hero-section .text {
  margin-left: 30px;
}

#hero-section .visual img {
  margin-left: auto;
}

.carousel0 {
  width: 376px;
  height: 376px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 20px solid #ec7938; /* Outer border with a deep orange color */
  box-shadow: 20px 0 0 20px #e55822; 
}


.carousel0-inner {
  width: 100%;
  height: 100%;
  display: flex;
  animation: slide 10s infinite;
}

.carousel0-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

@media (max-width: 858px) {

  #hero-section {
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements */
    align-items: center;
    text-align: center; /* Center text */
  }


  .carousel0 {
    width: 80%; /* Adjust carousel width to fit smaller screens */
    max-width: 376px; /* Set a max width to maintain design consistency */
    height: auto; /* Allow height to adjust based on width */
    margin: 20px auto; /* Add some vertical spacing and center horizontally */
    display: flex; /* Ensure proper layout */
    justify-content: center; /* Center content within the div */
    align-items: center; /* Center content vertically */
  }

  .carousel0 img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image horizontally */
  }

}

/* End Hero Section */

/* How It Works */
#how-it-works {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.box {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.box ion-icon {
  font-size: 35px;
  color: var(--clr-primary);
  margin: 15px 0;
}

.box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.box.active {
  border: 2px solid #ff4500; /* Highlight active box */
  box-shadow: 0 4px 12px rgba(255, 69, 0, 0.4), 0 8px 30px rgba(255, 69, 0, 0.4);
}

.box.active,
.box:hover {
  color: #fff;
  border-color: var(--clr-primary);
  background: var(--clr-primary);
}

.box.active ion-icon {
  color: #fff;
}

.box:hover p,
.box:hover h3,
.box:hover ion-icon {
  color: #000;
}

/* End How It Works */

/* About */
.carousel {
  width: 376px;
  height: 376px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 20px solid #ec7938; /* Outer border with a deep orange color */
  box-shadow: 0 0 0 20px #e55822; 
}


.carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
  animation: slide 10s infinite;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}






@media (max-width: 858px) {

  #about .container {
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements */
    align-items: center;
    text-align: center; /* Center text */
  }

  #about .text {
    margin-bottom: 20px; /* Add spacing below the text section */
  }

  .carousel {
    width: 80%; /* Adjust carousel width to fit smaller screens */
    max-width: 376px; /* Set a max width to maintain design consistency */
    height: auto; /* Allow height to adjust based on width */
    margin: 20px auto; /* Add some vertical spacing and center horizontally */
    display: flex; /* Ensure proper layout */
    justify-content: center; /* Center content within the div */
    align-items: center; /* Center content vertically */
  }

  .carousel img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image horizontally */
  }

}

.carousel2 {
  width: 376px;
  height: 376px;
  border-radius: 50%; /* Ensures the carousel is a perfect circle */
  overflow: hidden;
  position: relative;
  border: 20px solid #ec7938; /* Outer border with a deep orange color */
  box-shadow: 0 0 0 20px #e55822; /* Extra border for shadow effect */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

.carousel2 img {
  width: 100%; /* Ensures the image covers the full carousel width */
  height: 100%; /* Ensures the image covers the full carousel height */
  object-fit: cover; /* Adjusts how the image fits into its container */
  border-radius: 50%; /* Ensures the image conforms to the circular shape */
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  16.67% {
    transform: translateX(-100%);
  }
  33.33% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-300%);
  }
  66.67% {
    transform: translateX(-400%);
  }
  83.33% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

.metrics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  flex-direction: row;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.label {
  margin-top: 5px;
  font-size: 1rem;
  color: #fff;
}

.metric .counter:hover,
.metric .label:hover
 {
  color: #000;
}
/* End About */

/* Restaurant Menu */
.category {
  list-style: none;
  text-align: center;
  margin: 20px 0 40px 0;
}

.category li {
  display: inline-block;
  margin: 0 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.category li.active {
  color: var(--clr-primary);
}

.restaurant-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-item {
  width: 260px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
}

.menu-item img {
  width: 100%;
}

.order {
  justify-content: space-between;
}

.btn-menu {
  padding: 6px 10px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

.title {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}

.location {
  font-size: 18px;
  font-weight: 500;
}

/* End Restaurant Menu */

/* Testimonial */
#testimonial .visual img {
  margin-left: auto;
}

.user {
  margin-top: 30px;
  justify-content: start;
}

.user img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}



/* Mobile View Styling */
@media (max-width: 858px) {
  #testimonial .container {
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements */
    align-items: center;
    text-align: center; /* Center text */
  }

  #testimonial .text {
    margin-bottom: 20px; /* Add spacing below the text section */
  }

  #testimonial .user {
    justify-content: center; /* Center the user info horizontally */
    text-align: center;
    gap: 5px; 
    padding-bottom: 20px;
  }
 

  #testimonial .user img {
    margin: 0 10px; /* Center the user image */
    display: block; /* Ensure proper alignment */
  }

  .carousel2 {
    width: 80%; /* Adjust carousel width to fit smaller screens */
    max-width: 376px; /* Set a max width to maintain design consistency */
    height: auto; /* Allow height to adjust based on width */
    margin: 20px auto; /* Add some vertical spacing and center horizontally */
    display: flex; /* Ensure proper layout */
    justify-content: center; /* Center content within the div */
    align-items: center; /* Center content vertically */
  }

  #testimonial .carousel2 img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image horizontally */
  }
}
/* End Testimonial */

/* FAQ */
#faq .secondary {
  text-align: center;
}

.faq {
  width: 60%;
  margin: 50px auto 20px auto;
}

summary {
  padding: 1em;
  border: 1px solid #b2b2b2;
  margin-bottom: 1em;
  cursor: pointer;
  outline: none;
  border-radius: 0.3em;
  font-weight: 600;
}

details[open] summary~* {
  animation: open 1s ease-in-out;
}

@keyframes open {
  from {
    opacity: 1;
    margin-top: -10px;
  }

  top {
    opacity: 1;
    margin-top: 0;
  }
}

/* End FAQ */

/* App */
#app {
  text-align: center;
}

.app-store {
  background: #000;
  margin: 0 10px;
  padding: 4px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.app-store p {
  margin-top: 8px;
}

.app-store span {
  font-size: 16px;
  line-height: 25px;
}

.app-store ion-icon {
  font-size: 30px;
  margin-right: 10px;
}

.download {
  margin: 30px 0;
}

/* End App */


/* Footer */
.footer {
  background: #fe5722;
  color: #b2b2b2;
  padding: 30px 0;
}

.footer .container {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.footer h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
}

.footer ul {
  list-style: none;
  line-height: 30px;
  font-size: 16px;
}

.footer ul li {
  cursor: pointer;
}

.footer-about {
  display: flex;
  flex-direction: row; /* Arranges children horizontally */
  align-items: center; /* Aligns children vertically */
  gap: 10px; /* Adds spacing between elements */
}

.footer-about a.instagram i {
  color: #FF6347; /* Tomato color for Instagram */
}

.footer-about a.mail i {
  color: #FFD700; /* Gold color for Mail */
}

/* Hover effect for icons */
.footer-about a:hover {
  color: #FF4500; /* Change to orange-red color on hover */
}
.copyright {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #b2b2b2;
}
/* End Footer */


/* Responsive  */


@media (max-width: 858px) {
  .checkbtn {
    display: block;
    color: var(--clr-primary);
  }

  ul {
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    flex-direction: column;
    background: #000;
  }

  nav ul li {
    margin: 20px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  .menu a:hover,
  .menu a.active {
    background: none;
    color: var(--clr-primary);
  }

  #check:checked~ul {
    left: 0;
  }

  #hero-section {
    margin-top: 80px;
  }

  #hero-section .text {
    margin-left: auto;
  }

  .flex {
    flex-direction: column;
  }

  .visual,
  .text {
    width: 70%;
    margin: 15px auto;
    text-align: center;
  }

  .download,
  .user {
    flex-direction: row;
  }

  .user {
    justify-content: center;
  }

  .visual img {
    margin: 0 auto;
  }

  .box {
    margin: 15px 0;
  }

  .restaurant-menu {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .faq,
  .menu-item {
    width: 80%;
  }

  .primary {
    font-size: 56px;
  }

  .secondary {
    font-size: 40px;
  }

  .tertiary {
    font-size: 20px;
  }

  .footer-about {
    width: 100%;
    text-align: center;
  }

  .quick-links,
  .get-in-touch,
  .footer-category {
    display: none;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0 10px;
  }

  .text,
  .visual {
    width: 90%;
  }

  .restaurant-menu {
    grid-template-columns: 1fr;
  }

  .faq {
    width: 90%;
  }

  .app-store {
    margin: 10px 0;
  }

  .download {
    flex-direction: column;
  }

  .primary {
    font-size: 48px;
  }

  .secondary {
    font-size: 32px;
  }

  .tertiary {
    font-size: 17px;
  }
}

/* End Responsive  */





.youtube {
  position: fixed;
  bottom: 40px;
  right: 70px;
  text-decoration: none;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.youtube p {
  font-size: 22px;
}